div.image {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-brand {
  .navbar-item {
    img {
      max-height: 100%;
    }
  }
}